@model VpGameWeb.Models.Item

<h1>@Model.Name</h1>

<img src="@Model.IconUrl"
     class="detail-main-img"
     alt="@Model.Name" />

<p>
    <strong>分類：</strong>
    @Model.Category
</p>

<p>
    <strong>說明：</strong>
    @Model.Description
</p>

<a asp-controller="Item"
   asp-action="Index"
   class="btn btn-secondary">
    返回道具圖鑑
</a>