@model List<VpGameWeb.Models.Boss>

<h1>Boss 圖鑑</h1>

<div class="row">
    @foreach (var boss in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <img src="@boss.IconUrl" class="card-img-top p-3 gallery-card-img" alt="@boss.Name">

                <div class="card-body">
                    <h5 class="card-title">@boss.Name</h5>
                    <p class="card-text">@boss.Description</p>

                    <a class="btn btn-primary" asp-controller="Boss" asp-action="Details" asp-route-id="@boss.Id">
                        查看詳情
                    </a>
                </div>
            </div>
        </div>
    }
</div>